      :root {
      --primary: #5e22e6;
      --secondary: #0a1f44;
      --primary-invert: #fff;
      --secondary-invert: #fff;
      
      /* DEFAULT COLOR OF TEXTS */
      --text-primary: #0a1f44;
      
      /* FOR BUTTONS & INPUTS */
      --elements-roundness: 10rem;
      
      --space-between-blocks: 5.3rem;
      /* for mobiles */
      --space-between-blocks-small-screens: 3rem;
      }
      
      body {
      font-family: 'Poppins', sans-serif;
      color: var(--text-primary);
      }
      
      .space-between-blocks {
      padding-top: var(--space-between-blocks-small-screens);
      padding-bottom: var(--space-between-blocks-small-screens);
      }
      
      @media(min-width: 992px) {
      .space-between-blocks {
      padding-top: var(--space-between-blocks);
      padding-bottom: var(--space-between-blocks);
      }
      }
      
      /* ----------------- BUTTONS ------------------- */
      
      button {
      color: inherit;
      padding: 0;
      background: none;
      border: none;
      }
      
      button:focus {
      outline: none;
      box-shadow: none;
      }
      
      .btn {
      font-size: .87rem;
      padding: .8rem 1.6rem;
      border-radius: var(--elements-roundness);
      transition: .2s all;
      }
      
      @media(min-width: 992px) {
      .btn {
      padding: .8rem 2rem;
      }
      }
      
      .btn,
      .btn:hover,
      .btn:focus {
      border: none;
      box-shadow: none;
      outline: none;
      }
      
      .btn:hover,
      .btn:focus {
      transform: scale(1.05);
      }
      
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:focus {
      background: var(--primary);
      color: var(--primary-invert);
      }
      
      .btn-secondary,
      .btn-secondary:hover,
      .btn-secondary:focus {
      background: var(--secondary);
      color: var(--secondary-invert);
      }
      
      .btn-sm {
      padding: .8rem;
      }

      /* Put your blocks here */
	    .hero {
		  --hero-nav-height: 100px;
		  --block-background: white;
		  --block-text-color: var(--text-primary);
		  background: var(--block-background);
		  color: var(--block-text-color);
		  position: relative;
		  display: flex;
		  flex-direction: column
		}
		
		.hero-nav {
		  margin: 0 -1rem;
		  width: 100%;
		  height: var(--hero-nav-height);
		  display: flex;
		  align-items: center;
		  z-index: 2
		}
		
		.hero-nav__item {
		  text-align: center;
		  font-size: 1.1rem
		}
		
		@media(min-width:992px) {
		  .hero-nav__item {
		    margin: 0 1rem
		  }
		}
		
		@media(min-width:992px) {
		  .nav--lg-side {
		    flex-direction: row-reverse
		  }
		}
		
		.hero-nav__logo {
		  height: 35px
		}
		
		.hero-nav__link {
		  color: inherit;
		  opacity: .9
		}
		
		.hero-nav__link:focus,
		.hero-nav__link:hover {
		  color: var(--primary);
		  text-decoration: none;
		  opacity: 1
		}
		
		.hero__row {
		  height: 100%
		}
		
		.hero_empty-column {
		  height: 100%
		}
		
		.hero__image-column {
		  height: 100%;
		  background-position: center;
		  background-size: cover
		}
		
		.hero__content {
		  text-align: initial;
		  padding-top: 2rem;
		  padding-bottom: 3rem
		}
		
		@media(min-width:992px) {
		  .hero__content {
		    padding-top: 4rem;
		    padding-bottom: 5rem
		  }
		}
		
		.hero__title {
		  font-size: 1.8rem;
		  font-weight: 900
		}
		
		.hero__paragraph {
		  font-size: .9rem;
		  font-weight: 400;
		  opacity: .9
		}
		
		@media (min-width:576px) {
		  .hero__title {
		    font-size: 2.5rem;
		    line-height: 1.17
		  }
		
		  .hero__paragraph {
		    width: 80%;
		    margin: auto
		  }
		}
		
		@media (min-width:768px) {
		  .hero__title {
		    font-size: 3rem
		  }
		}
		
		@media(min-width:992px) {
		  .hero__title {
		    font-size: 2.5rem;
		    line-height: 1.17
		  }
		
		  .hero__paragraph {
		    font-size: 1.5rem;
		    width: 70%
		  }
		}
		
		@media(min-width:1200px) {
		  .hero__title {
		    font-size: 3.5rem;
		    line-height: 1.17
		  }
		}
		
		.hero__btns-container {
		  display: inline-flex;
		  flex-direction: column;
		  align-items: center;
		  width: 150px;
		  margin: auto
		}
		
		.hero__btn {
		  display: inline-block;
		  width: 100%
		}
		
		@media(min-width:992px) {
		  .hero__btns-container {
		    width: auto;
		    flex-direction: row
		  }
		
		  .hero__btn {
		    width: auto
		  }
		}
		
		.highlight {
		  color: var(--primary)
		}
		
		.ft-menu {
		  position: fixed;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  z-index: 2000;
		  -webkit-animation-name: fadeOut;
		  animation-name: fadeOut;
		  -webkit-animation-duration: .5s;
		  animation-duration: .5s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both
		}
		
		@media (print),
		(prefers-reduced-motion:reduce) {
		  .ft-menu {
		    -webkit-animation-duration: 1ms !important;
		    animation-duration: 1ms !important;
		    -webkit-transition-duration: 1ms !important;
		    transition-duration: 1ms !important;
		    -webkit-animation-iteration-count: 1 !important;
		    animation-iteration-count: 1 !important
		  }
		}
		
		.ft-menu .hero-nav__item {
		  width: 100%;
		  margin-top: .75rem;
		  margin-bottom: .75rem
		}
		
		@media(min-width:992px) {
		  .ft-menu .hero-nav__item {
		    width: auto;
		    margin-top: 0;
		    margin-bottom: 0
		  }
		}
		
		.ft-menu--js-show {
		  -webkit-animation-name: fadeIn;
		  animation-name: fadeIn;
		  -webkit-animation-duration: .5s;
		  animation-duration: .5s
		}
		
		.ft-menu::before {
		  content: '';
		  display: block;
		  position: absolute;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  top: 0;
		  background: var(--primary);
		  opacity: .9;
		  z-index: -1
		}
		
		@media(min-width:992px) {
		  .ft-menu {
		    -webkit-animation-name: none;
		    animation-name: none;
		    position: static;
		    z-index: auto
		  }
		
		  .ft-menu::before {
		    content: none
		  }
		}
		
		.ft-menu__slider {
		  width: 80%;
		  height: 100%;
		  background: var(--block-background);
		  overflow: hidden;
		  transform: translateX(-100%);
		  transition: .5s transform
		}
		
		@media(min-width:992px) {
		  .ft-menu__slider {
		    width: auto;
		    height: auto;
		    background: 0 0;
		    transform: none;
		    display: flex;
		    align-items: center
		  }
		}
		
		.ft-menu--js-show .ft-menu__slider {
		  transform: translateX(0)
		}
		
		.ft-menu__close-btn {
		  color: var(--primary-invert);
		  position: absolute;
		  right: 0;
		  top: 0;
		  font-size: 2rem;
		  margin: 1rem;
		  transform: translateX(100%);
		  transition: .5s transform
		}
		
		@media(min-width:992px) {
		  .ft-menu__close-btn {
		    display: none
		  }
		}
		
		.ft-menu--js-show .ft-menu__close-btn {
		  transform: translateX(0)
		}
		
		.ft-menu__close-btn:focus,
		.ft-menu__close-btn:hover {
		  color: var(--primary-invert)
		}
		
		.pattern {
		  position: absolute;
		  height: 47%;
		  width: 17%;
		  opacity: .5
		}
		
		.pattern--primary {
		  color: var(--primary)
		}
		
		.pattern--left-bottom {
		  bottom: 0;
		  left: 0
		}
		
		.pattern--right {
		  top: 0;
		  right: 0;
		  bottom: 0;
		  margin: auto
		}
		
		@-webkit-keyframes fadeIn {
		  from {
		    visibility: hidden;
		    opacity: 0
		  }
		
		  to {
		    visibility: visible;
		    opacity: 1
		  }
		}
		
		@keyframes fadeIn {
		  from {
		    visibility: hidden;
		    opacity: 0
		  }
		
		  to {
		    visibility: visible;
		    opacity: 1
		  }
		}
		
		@-webkit-keyframes fadeOut {
		  from {
		    visibility: visible;
		    opacity: 1
		  }
		
		  to {
		    visibility: hidden;
		    opacity: 0
		  }
		}
		
		@keyframes fadeOut {
		  from {
		    visibility: visible;
		    opacity: 1
		  }
		
		  to {
		    visibility: hidden;
		    opacity: 0
		  }
		}
		
		.block-43 {
		  --block-background: white;
		  --block-text-color: var(--text-primary);
		  background: var(--block-background);
		  color: var(--block-text-color);
		  font-size: .87rem
		}
		
		.block-43__list {
		  display: flex;
		  flex-wrap: wrap
		}
		
		.block-43__li-1 {
		  font-weight: 600;
		  margin: 0 1.2rem;
		  margin-bottom: .6rem
		}
		
		@media(min-width:992px) {
		  .block-43__li-1 {
		    margin: 0 1.8rem
		  }
		}
		
		.block-43__link {
		  color: var(--text-primary);
		  opacity: .8
		}
		
		.block-43__link:focus,
		.block-43__link:hover {
		  color: var(--primary)
		}
		
		.block-43__copyrights {
		  color: var(--text-primary);
		  font-size: .87rem;
		  line-height: 1.7;
		  opacity: .8
		}
		
		.block-27 {
		  --elements-roundness: 5px;
		  --block-background: white;
		  --block-text-color: var(--text-primary);
		  background: var(--block-background);
		  color: var(--block-text-color);
		  overflow: hidden;
		  position: relative;
		  z-index: 1
		}
		
		.block-27__row {
		  height: 300px
		}
		
		@media(min-width:992px) {
		  .block-27__row {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: -1;
		    height: 100%
		  }
		}
		
		.block-27__image-column {
		  height: 100%;
		  background-position: center;
		  background-size: cover
		}
		
		@media(min-width:992px) {
		  .block-27__image-column {
		    margin: 0 !important
		  }
		}
		
		.block-27__content {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0
		}
		
		.block-27__bg-image {
		  background-position: center;
		  background-size: cover
		}
		
		.contact-form__title {
		  font-size: 2rem;
		  font-weight: 600
		}
		
		.contact-form__paragraph {
		  font-size: 1rem;
		  opacity: .9;
		  line-height: 1.7
		}
		
		.contact-form {
		  margin: auto
		}
		
		.contact-form__input {
		  color: var(--text-primary);
		  font-size: .87rem;
		  padding: .87rem 1.4rem;
		  border-radius: 5px;
		  border: 1px solid rgba(0, 0, 0, .1);
		  background: rgba(0, 0, 0, .01);
		  width: 100%;
		  margin-bottom: .87rem
		}
		
		textarea.contact-form__input {
		  height: 130px;
		  resize: none
		}
		
		.contact-form__input:focus {
		  border: 1px solid var(--primary);
		  outline: 0;
		  box-shadow: none
		}
		
		.btn--loading {
		  opacity: 1;
		  cursor: progress;
		  position: relative;
		  overflow: hidden;
		  z-index: 1
		}
		
		.btn--loading::after,
		.btn--loading::before {
		  content: '';
		  position: absolute;
		  left: 0;
		  top: 0;
		  right: 0;
		  bottom: 0
		}
		
		.btn--loading::before {
		  background: var(--primary);
		  width: 100%;
		  height: 100%;
		  z-index: 1
		}
		
		@-webkit-keyframes spin {
		  0% {
		    -webkit-transform: rotate(0)
		  }
		
		  100% {
		    -webkit-transform: rotate(360deg)
		  }
		}
		
		@keyframes spin {
		  0% {
		    transform: rotate(0)
		  }
		
		  100% {
		    transform: rotate(360deg)
		  }
		}
		
		.btn--loading::after {
		  margin: auto;
		  border: 2px solid transparent;
		  border-radius: 50%;
		  border-top: 2px solid var(--primary-invert);
		  width: 1.5rem;
		  height: 1.5rem;
		  -webkit-animation: spin .5s linear infinite;
		  animation: spin .5s linear infinite;
		  z-index: 2
		}
		
		.h-100 {
		  height: 100% !important
		}