<link rel="stylesheet" href="./app.css">

<div class="block-27 space-between-blocks">
  <div class="block-27__row d-block d-lg-flex row">
    <div class="block-27__image-column container col-lg-6" style="background-image: url(https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1567&amp;q=80)"></div>
  </div>
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-6 px-4 px-xl-5 py-5 text-center">
        <form onsubmit="submitContactForm(event)" class="contact-form text-center" action="contact.php">
          <div class="contact-form__header mb-5">
            <h6 class="contact-form__title mb-3">Contact Us</h6>
            <p class="contact-form__paragraph mb-0 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. CAMBIO DE CONTACTO</p>
          </div><input type="text" class="contact-form__input" placeholder="Full Name"> <input type="email" class="contact-form__input" placeholder="Email"><textarea class="contact-form__input" placeholder="Message"></textarea><button class="btn btn-primary w-100">SEND</button>
        </form>
      </div>
    </div>
  </div>
</div>